.CharacterCard {
  width: 150px;
  height: 280px;
  background-color: lightblue;
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 5px; }

.DataCharacterBox {
  background-color: orange;
  width: 100%;
  text-align: center; }

.ImageCharacter {
  width: 100%;
  height: 190px; }

.PhotoContainer {
  width: 100%; }
