.MaximumContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.Container{
    display: flex;
    flex-direction: row;
    max-width: 700px;
    min-width: 500px;
    max-height: 400px;
}
.ImageBox{
    margin: 0;
    padding: 10px;
    background-color: black;
}
.ImageDetail{
    width: 250px;
    height: 350px;
}
.TextBox{
    background-color: orange;
    padding: 20px;
    color: white;
}
.CharacterName{
    text-align: center;
}
.CharacterData{
    font-size: 16px;
    font-weight: 400;
}